# =========================
# Java
# =========================
*.class
*.log
*.ctxt

# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# IDE - IntelliJ
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
bin/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Docker
# =========================
docker-data/
*.pid

# =========================
# Kafka Local Data
# =========================
kraft-combined-logs/
tmp/

# =========================
# Test / Coverage
# =========================
coverage/
jacoco.exec

# =========================
# Misc
# =========================
*.swp
*.swo